<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container" *ngIf="!esLogin()">
  <app-menu></app-menu>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="(sub$ | async) as st">
  <div
    *ngIf="st.subscription.ok && st.subscription.warning"
    class="sub-warning">
    ⚠️ Tu plan vence en {{ st.subscription.days_left }} días ({{ st.subscription.end_date }}).
    <a routerLink="/renovar-suscripcion">Renovar ahora</a>
  </div>
</div>


<div *ngIf="esLogin()" class="login-wrapper">
  <router-outlet></router-outlet>
</div>
